<div class="">
	<h4><ins>Product Info Box</ins></h4>
	<form>
	    <div class="form-group row">
	      <label for="bgColorr" class="col-sm-4 col-form-label">Background color</label>
	      <div class="col-sm-4">
	        <input type="text" ng-model="box.bgColor" class="form-control" id="bgColor">
	      </div>
	    </div>
	    <div class="form-group row">
	      <label for="textColor" class="col-sm-4 col-form-label">Text color</label>
	      <div class="col-sm-4">
	        <input type="text" ng-model="box.textColor" class="form-control" id="textColor">
	      </div>
	    </div>
	</form>
</div>